<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal itemname">{{item?.itemname}}</h4>
  </div>
  <div class="card-body d-flex flex-column">
    <h1 class="card-title pricing-card-title">
      <small class="text-muted">{{item?.itemdescription}}</small>
    </h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>$ {{item?.price}} - {{item?.sellunit}}</li>
    </ul>
    <button type="button" (click) ="addItem(item)" *ngIf="item.sellunit == 'Box'"
            class="btn btn-primary">
      ADD</button>
    <button type="button" (click) ="removeItem(item)" *ngIf="item.sellunit == 'Box'"
            class="btn btn-danger">
      REMOVE</button>

    <div *ngIf="item.sellunit != 'Box'">
      <button type="button" (click) ="addItem(item)"
              class="btn btn-primary">
        +1</button>
      <button type="button" (click) ="add2Item(item,2)"
              class="btn btn-primary">
        +2</button>
      <button type="button" (click) ="add2Item(item,6)"
              class="btn btn-primary">
        +6</button>
        <div>
      <button type="button" (click) ="removeItem(item)"
              class="btn btn-danger">
        REMOVE</button>
      </div>

    </div>

  </div>
</div>


<!--<div class="col-sm-3 col-xs-12">-->
<!--<div class="panel panel-default text-center">-->
<!--<div class="panel-heading">-->
<!--<h1>{{item.itemname}}</h1>-->
<!--</div>-->
<!--<div class="panel-body">-->
  <!--<small class="text-muted">{{item?.itemdescription}}</small>-->
<!--&lt;!&ndash;<p><strong>Box</strong> 350 g</p>&ndash;&gt;-->
<!--</div>-->
<!--<div class="panel-footer">-->
<!--<h3>$ {{item?.sellunit}}</h3>-->
<!--<h4>per Box</h4>-->
<!--<button class="btn btn-lg" (click) ="sum('Hummus')">ADD</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->