<p>
  Employees List
</p>

<nb-card-body>
  <ng2-smart-table [settings]="settings" [source]="source"
                   (delete)="onDeleteConfirm($event)"
                   (editConfirm)="onSaveConfirm($event)"
                   (create)="createRow($event)"
                   (edit)="editRow($event)">
  </ng2-smart-table>
</nb-card-body>

<ul>
  <li *ngFor="let name of names">{{ name }}</li>
</ul>

<!--<nb-card size="small">-->
  <!--<nb-list>-->
    <!--<nb-list-item *ngFor="let item of listValues">-->
      <!--<nb-user [name]="item.listValue" [title]="item.listValue">-->
      <!--</nb-user>-->
    <!--</nb-list-item>-->
  <!--</nb-list>-->
<!--</nb-card>-->

