<!--<div>-->
  <!--PFfffff header-->
  <!--<a  href="login#/auth/login">logout</a>-->

<!--</div>-->

<!--<nb-card>-->
  <!--<nb-menu [items]="items">-->
  <!--</nb-menu>-->
<!--</nb-card>-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand brand-custom" href="#/pff/sales">Passion For Foods</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <!--<li class="nav-item">-->
      <!--<a class="nav-link login-custom" href="#">Students <span class="sr-only">(current)</span></a>-->
      <!--</li>-->

      <!--#/pff/items-->

      <li class="nav-item">
        <a href="#/pages/setup/pffitem-list" >Items | </a>
      </li>


      <li class="nav-item">
        <a href="#/auth/login" >Logout</a>
      </li>
    </ul>
  </div>
</nav>


<!--<nb-layout>-->
  <!--<nb-card>-->
    <!--<nb-card-header>-->
      <!--<p>-->
        <!--sales works!-->
      <!--</p>-->
    <!--</nb-card-header>-->
  <!--</nb-card>-->

<!--</nb-layout>-->