//@import '../../../../@theme/styles/themes';
nb-card {
  max-width: 600px;
  max-height: 500px;
}

/deep/ .form {
  display: flex;
  flex-direction: column;

  .text-label {
    margin-top: 1.5rem;
  }
}
